@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Modal */
.pt-0modal{
    background-image: url('imagens/acomodacao.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0,0.6);
    background-blend-mode: saturation;
    opacity: 85%;
}

/* Locais */
.pt-0local{
    background-image: url('imagens/locais.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    min-height: 100vh;
    /* ocupa toda a altura da viewport */
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0,0.6);
    background-blend-mode: saturation;
    opacity: 85%;
}

.form-card {
    width: 100%;
    max-width: 466px; 
    height: 642px;
    background-color: rgba(217, 217, 217, 1);
    border-radius: 35px;
    padding: 120px 40px;
    display: flex;
    flex-direction: column;
}

.form-card label {
    font-size: 25px;
    font-weight: 700;
    font-style: bold;
    font-weight: 700px;
    color: black;
    font-family: 'Jura',sans-serif;
    padding: 15px;
}

.form-select {
    width: 345px;
    height:76px;
    border-radius: 15px;
    font-weight: 700;
    font-style: bold;
    font-weight: 700px;
    color: black;
    font-family: 'Jura',sans-serif;
    font-size: 25px;
}

.btn-ver {
    margin-top: 60px;
    width: 345px;
    height: 76px;
    background-color: rgba(104, 105, 49, 1);
    font-size: 25px;
    border-radius: 15px;
    align-self: center;
    cursor: hand;
    font-size: 25px;
    font-style: bold;
    font-weight: 700;
    color: black;
    font-family: 'Jura',sans-serif;
}

.info-box {
    background-color: black;
    border-radius: 30px;
    padding: 25px;
    width: 100%; 
    max-width: 466px; 
    color: white;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.51);
    font-size: 1rem;
    font-weight: 700;
    font-family: 'Jura', sans-serif;
    margin-top: 5%;
    display: flex;
    text-align: center;
    justify-content: center;
}

.map-box {
    width: 100%;
    max-width: 466px;
    height: auto; 
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#mapaArea {
    display: none;
}


/* Acomodacoes */
.pt-0acomodacao {
    background-image: url('imagens/acomodacao.png');
    background-size: cover;
    background-position: 0% 18% ;
    min-height: 68vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.faixa-text {
    background: rgba(11, 17,17, 0.8);
    padding: 25px 20px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 100px;
}

.faixa-title {
    font-family: 'Josefin Slab', sans-serif;
    font-size: 80px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
}

.sec-cards {
    background-color: rgba(180, 155, 44, 0.25);
    padding-bottom: 80px;/*nao consegui colocar o padding aqui para descer mais a cor*/
}

.card-ride {
    width: 100%;
    max-width: 574px;
    background: rgba(217,217,217,1) !important;
    border-radius: 35px 35px !important;
    margin-bottom: 60px;
}

.card-ride img {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width: 100%;
    max-width: 533.35px;
    height: 288px;
    border-radius: 35px 35px;
    margin-top: 15px;
}

.card-ride .card-title {
    font-family: 'Jura', sans-serif;
    font-weight: 700;
    font-size: 30px;
    margin-top:-20px;
    padding: 15px;
}

.price {
    font-family: 'Jura', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.card-list {
    font-family: 'Jura', sans-serif;
    font-size: 20px;
    font-weight: 700;
}


/* Info link */
.card-link {
    display: block;
    font-family: 'Jura', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    color: #000;
    margin-top: 10px;
    text-align: center;
}

.card-link:hover {
    text-decoration: underline;
}

 /* Contatos */
.pt-0contatos {
    background-image: url('imagens/pexels-jeremy-bishop-1260133-20146347 2.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    background-repeat: no-repeat;
    /* ocupa toda a altura da viewport */
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: saturation;
}

.custom-form {
    width: 470px;
    height: auto;
    background: #000;
    border-radius: 30px;
    padding: 40px;
    margin-top: 50px;
    min-height: 50vh;
}

.text-form {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Jura', sans-serif;
}

.retangulo-style {
    height: 76px;
    border-radius: 15px;
    font-size: 18px;
}

.mensagem-style {
    height: 160px;
    border-radius: 15px;
    font-size: 18px;
}

.btn-enviar{
    font-family: 'Jura', sans-serif;
    font-size: 25px;
    margin: 35px;
    background-color: #000;  
    color: #fff;             
    border: 3px solid #fff;
}


.texto-direita {
    min-height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #fff;
    font-family: 'Jura', sans-serif;
    margin-top: 2rem; 
}

.frase {
    font-size: 24px;
    margin-bottom: 5px;
}

.autor {
    font-size: 18px;
    text-align: right; 
}

.contato-page .navbar .nav-link {
    color: white !important; /* letras brancas */
}

 /* Fim-Contatos */

.pt-0 {
    background-image: url('imagens/livingaround.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    min-height: 100vh;
    /* ocupa toda a altura da viewport */
    display: flex;
    flex-direction: column;
}

body {
  font-family: 'JURA', sans-serif;
  font-size: 25px;
  font-family: bold;
  height: 700px;
}

.navbar {
    height: 70px;
    margin-top: 39px;
    margin-left: 60px;
    margin-right: 60px;
    background-color: transparent !important;
}

.navbar-brand img {
    height: 60px;
}

.navbar {
    background-color: transparent; /* transparente */
    padding: 1rem 0;
}

.navbar .nav-link {
    font-family: 'Jura', sans-serif; 
    font-weight: 700;              
    font-size: 25px;                       
    color: black;                   
    margin-left: 25px;               
}

.nav-link:hover {
    color: #ccc !important;
}

.navbar-toggler {
    border-color: black;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='black' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/ %3e%3c/svg%3e");
}

.pt-0 h1 {
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Josefin Slab', serif; /* fonte correta */
    font-size: 85px;
    font-weight: bold;
    text-align: center; /* opcional, mas ajuda no alinhamento */
}

.pt-2 {
    background-color: rgba(180, 155, 44, 0.25);
    background-size: cover;
    background-position: center;
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Jura', sans-serif;
    border: black;
}

.c1 {
    font-size: 43px;
    padding: 100px;
}

.c2 {
    font-size: 30px;
    font-weight: bold;
}


#div-trab {
    font-size: 20px;
    font-weight: bold;
    list-style-type: none;
    padding: 40px;
    --b: 9px;
    /* thickness of the border */
    --c: black;
    /* color of the border */
    --w: 40px;
    /* width of border */

    border: var(--b) solid #0000;
    /* space for the border */
    --_g: #0000 90deg, var(--c) 0;
    --_p: var(--w) var(--w) border-box no-repeat;

    background: conic-gradient(from 90deg at top var(--b) left var(--b),
            var(--_g)) 0 0 / var(--_p),
        conic-gradient(from -90deg at bottom var(--b) right var(--b), var(--_g)) 100% 100% / var(--_p);
}

.van {
    background-image: url('imagens/pexels-gya-den-768256-2303781\ 2.png');
    background-size: cover;
    background-position: center;
    min-height: 50vh;
    background-color: black;
}

.text-sec3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: black;
    color: white;
    min-height: 60vh;
    font-family: 'Jura', sans-serif;
    font-size: 30px;
    font-weight: bold;
    position: relative;
}

.text-sec4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgba(180, 155, 44, 0.25);
    color: black;
    min-height: 60vh;
    font-family: 'Jura', sans-serif;
    font-size: 30px;
    font-weight: bold;
    position: relative;
}

#btn-1 {
    padding: 10px 40px; /* altura e largura */
    border-radius: 9rem;/* cantos arredondados */
    font-family: 'Jura', sans-serif;
    font-weight: bold;
    font-size: 25px;
}

.selva {
    background-image: url('imagens/pexels-thatguycraig000-1546898\ 2.png');
    background-size: cover;
    background-position: center;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cel {
    background-image: url('imagens/pexels-thepaintedsquare-583848\ 1.png');
    background-size: cover;
    background-position: center;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -50px;
}

.btn-2 {
    display: flex;
    justify-content: center;
}

#btn-2 {
    padding: 15px 100px; /* altura e largura */
    border-radius: 9rem;/* cantos arredondados */
    font-family: 'Jura', sans-serif;
    font-weight: bold;
    font-size: 25px;
}

.btn-seta {
  position: absolute;
  right: -40%;
  bottom: -25%;
  min-height: 50%;
}

.btn-seta1 {
  position: absolute;
  right: 42%;
  bottom: -25%;
  min-height: 50%;
}

.footer {
    background-color: black;
    background-size: cover;
    background-position: center;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-text h3{
    align-items: center;
    text-align: center;
    color: white;
    font-family: 'Jura', sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
    padding-bottom: 10px;
}

.footer-buttons{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 1;
}

.footer-buttons .btn:hover {
    transform: scale(1.1);
}

.footer-text2 h4{
    align-items: center;
    text-align: center;
    color: white;
    font-family: 'Jura', sans-serif;
    font-size: 15px;
    margin-top: 25px;
}